<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- druid链接池配置 start -->
	<!-- 加载druid配置文件 -->
	<context:property-placeholder  location="classpath:druid.properties"/>
	
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close" >
		<!-- 配置关于数据库连接的四个项 driverClass url username password   118.89.28.55:3306 -->
		<property name="driverClassName" value="${druid.driverClassName}"></property>
		<property name="url" value="${druid.url}"></property>
		
		<!-- druid连接池的配置 -->
        <property name="username" value="${druid.username}"></property>  
        <property name="password" value="${druid.password}"></property>  
          
        <!-- 配置初始化大小、最小、最大 -->  
        <property name="initialSize" value="${druid.initialSize}"></property>  
        <property name="minIdle" value="${druid.minIdle}"></property>  
        <property name="maxActive" value="${druid.maxActive}"></property>  
       
        <!-- 配置获取连接等待超时的时间 -->  
        <property name="maxWait" value="${druid.maxWait}"></property>  
       
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->  
        <property name="timeBetweenEvictionRunsMillis" value="${druid.timeBetweenEvictionRunsMillis}"></property>  
       
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->  
        <property name="minEvictableIdleTimeMillis" value="${druid.minEvictableIdleTimeMillis}"></property> 
	</bean>
	<!-- druid链接池配置 end -->	
</beans>